{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<section id="speakers-details" class="wow fadeInUp">
  <div class="container">
    <div class="section-header">
      <br><br>
      <h2>Detalhes dos Criadores</h2>
    </div>

    <div class="row">
      <div class="col-md-6">
        <img src="static/img/speakers/fonte.jpg" alt="Fonte" class="img-fluid">
      </div>

      <div class="col-md-6">
        <div class="details">
          <h2>Felipe Fontenele</h2>
          <div class="social">
            <a href=""><i class="fa fa-twitter"></i></a>
            <a href=""><i class="fa fa-facebook"></i></a>
            <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
            <a href=""><i class="fa fa-linkedin"></i></a>
          </div>
          <p>Sou o Felipe Fontenele de Ávila Bartolomeu Malaquias Serafim da Fonseca Braga Menechelli Lana de Santana.</p>
        </div>
      </div>
      
    </div>
  </div>

</section>

{% endblock content%}