{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

  <!--==========================
    Intro Section
  ============================-->
  <section id="intro">
    <div class="intro-container wow fadeInUp">
      <h1 class="mb-4 pb-0">COMPRE MAIS COM A NUMMOS!</h1>
      <p class="mb-4 pb-0">O seu retorno garantido.</p>
      <a href="https://youtu.be/9omgdcB1swY" class="venobox play-btn mb-4" data-vbtype="video"
        data-autoplay="true"></a>
    <p class="mb-4 pb-0">Assista ao vídeo.</p>
    </div>
  </section>

  <main id="main">

    <!--==========================
      About Section
    ============================-->
    <section id="about">
      <div class="container">
        <div class="row">
          <div class="col-lg-12">
            <h2>Sobre nós</h2>
            <p>A palavra nummos significa “dinheiro de volta” em latim, e é com esse objetivo que surgimos: ser o melhor programa de fidelidade do Brasil, recompensando você em dinheiro, e não com pontos.</p>
      <p>Nummos é um portal que disponibiliza gratuitamente cupons de desconto das melhores lojas online do Brasil e ainda te devolve parte do valor gasto em suas compras, direto em sua conta bancária.</p>
      <p>Trabalhamos constantemente desenvolvendo tecnologias e processos que facilitam a sua vida e aumentam os seus ganhos. Fazemos isso pensando à longo prazo, pois queremos conquistar a sua lealdade e recompensá-lo cada dia mais.</p>
          </div>
      </div>
    </section>

    <!--==========================
      Speakers Section
    ============================-->
    <section id="speakers" class="wow fadeInUp">
      <div class="container">
        <div class="section-header">
          <h2>Criadores da ideia</h2>
          <p>Os criadores da ideia são os mineiros Felipe Fontenele e Mateus Lana juntamente com o paulista Thiago Santana, que, insatisfeitos com os programas de fidelidade que existem no mercado, decidiram criar a Nummos. ‘Além de ser muito difícil resgatar os pontos ganhos nesses programas, na maior parte das vezes eles não são suficientes para serem trocados pelos benefícios que queremos’, diz Santana. O dinheiro de volta (cashback) que oferecemos vem para substituir essa falha, uma vez que é depositado em dinheiro 
      na conta bancária do usuário, permitindo que ele use o benefício da forma que quiser.</p>
        </div>

        <div class="row">
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="static/img/speakers/fonte.jpg" alt="Speaker 1" class="img-fluid">
              <div class="details">
                <h3><a href="detalhesFonte" target = "_blank">Felipe Fontenele</a></h3>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="static/img/speakers/lana.jpg" alt="Speaker 2" class="img-fluid">
              <div class="details">
                <h3><a href="detalhesLana.html" target = "_blank">Mateus Lana</a></h3>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
          <div class="col-lg-4 col-md-6">
            <div class="speaker">
              <img src="static/img/speakers/thiago.jpg" alt="Speaker 3" class="img-fluid">
              <div class="details">
                <h3><a href="detalhesThiago.html" target = "_blank">Thiago Santana</a></h3>
                <div class="social">
                  <a href=""><i class="fa fa-twitter"></i></a>
                  <a href=""><i class="fa fa-facebook"></i></a>
                  <a href="#" class="instagram"><i class="fa fa-instagram"></i></a>
                  <a href=""><i class="fa fa-linkedin"></i></a>
                </div>
              </div>
            </div>
          </div>
      </div>

    </section>

   
    <!--==========================
      Sponsors Section
    ============================-->
    <section id="supporters" class="section-with-bg wow fadeInUp">

      <div class="container">
        <div class="section-header">
          <h2>Principais Parceiros</h2>
        </div>

        <div class="row no-gutters supporters-wrap clearfix">

          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/img/supporters/ponto-frio-logo-4.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/img/supporters/centauro-logo-5.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/img/supporters/Carrefour-logo-2.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/img/supporters/americanas-2.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/img/supporters/magazine-luiza-logo-5.png" class="img-fluid" alt="">
            </div>
          </div>
        
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/img/supporters/netshoes.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/img/supporters/Walmart-logo-1.png" class="img-fluid" alt="">
            </div>
          </div>
          
          <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/img/supporters/logo-ricardo-eletro.png" class="img-fluid" alt="">
            </div>
          </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/img/supporters/extra-logo-mercado-2.png" class="img-fluid" alt="">
            </div>
          </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/img/supporters/havan-logo-3.png" class="img-fluid" alt="">
            </div>
          </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/img/supporters/kanui-logo-5.png" class="img-fluid" alt="">
            </div>
          </div>
      <div class="col-lg-3 col-md-4 col-xs-6">
            <div class="supporter-logo">
              <img src="static/img/supporters/shoptime-logo-6.png" class="img-fluid" alt="">
            </div>
          </div>

        </div>

      </div>

    </section>

    <!--==========================
      F.A.Q Section
    ============================-->
    <section id="faq" class="wow fadeInUp">

      <div class="container">

        <div class="section-header">
          <h2>Precisa de ajuda? </h2>
        </div>

        <div class="row justify-content-center">
          <div class="col-lg-9">
              <ul id="faq-list">

                <li>
                  <a data-toggle="collapse" class="collapsed" href="#faq1">Como adquirir? <i class="fa fa-minus-circle"></i></a>
                  <div id="faq1" class="collapse" data-parent="#faq-list">
          <h3>No computador</h3>
                    <p>
                      Adicione a extensão da Nummos ao seu navegador e descubra as lojas online que oferecem cashback. Com apenas um clique, você ativa o dinheiro de volta e faz sua compra normalmente. Em até 2 dias, o valor do cashback aparecerá no seu extrato da Nummos.
                    </p>
          <h3>No Celular</h3>
                    <p>
                      Pelo app da Nummos, disponível gratuitamente para Android, além das lojas online parceiras, você também encontra lojas físicas que oferecem cashback perto de você.
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq2" class="collapsed">O download do aplicativo é gratuito?<i class="fa fa-minus-circle"></i></a>
                  <div id="faq2" class="collapse" data-parent="#faq-list">
                    <p>
                     Sim! Você pode baixá-lo gratuitamente na Google Play Store.
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq3" class="collapsed">Como resgatar o dinheiro? <i class="fa fa-minus-circle"></i></a>
                  <div id="faq3" class="collapse" data-parent="#faq-list">
                    <p>
            Ao completar R$ 20 de saldo, você pode solicitar o resgate, sem custo algum. Basta informar seus dados bancários, no site ou app da Nummos.           
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq4" class="collapsed">Cupons e Ofertas<i class="fa fa-minus-circle"></i></a>
                  <div id="faq4" class="collapse" data-parent="#faq-list">
                    <p>
            Além do cashback em suas compras, na Nummos você ainda encontra cupons de desconto e ofertas das lojas parceiras.
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq5" class="collapsed">Lojas Físicas <i class="fa fa-minus-circle"></i></a>
                  <div id="faq5" class="collapse" data-parent="#faq-list">
                    <p>
            No app, pesquise pelas lojas parceiras perto de você. Em redes de supermercado e farmácia, basta digitar seu telefone no caixa. Em outras lojas, você deverá pagar suas compras na máquina da Cielo, usando um dos cartões cadastrados no app da Nummos. Em poucos minutos o cashback aparecerá no extrato da Nummos.
                    </p>
                  </div>
                </li>
      
                <li>
                  <a data-toggle="collapse" href="#faq6" class="collapsed">Lojas na Internet<i class="fa fa-minus-circle"></i></a>
                  <div id="faq6" class="collapse" data-parent="#faq-list">
                    <p>
                      Procure pela loja online que deseja, ative o dinheiro de volta e faça sua compra normalmente no site ou app da loja, que será aberto automaticamente. Em até 2 dias, o valor do cashback aparecerá no seu extrato da Nummos.
                    </p>
                  </div>
                </li>
      
              </ul>
          </div>
        </div>

      </div>

    </section>
{% endblock content%}